.inline {
  display: flex;
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  height: 1.5em;
}

.textbox {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .textbox {
    width: 90%;
  }
}
